/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*add reset button style */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

h1 {
  font-size: 70px;
  font-family: "Fira Sans Condensed", sans-serif;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  color: #ffffff; }
  @media (max-width: 800px) {
    h1 {
      font-size: 60px; } }
  @media (max-width: 400px) {
    h1 {
      font-size: 50px; } }

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  font-family: "Fira Sans", sans-serif;
  color: #4B4A52; }

@media (max-width: 1100px) {
  h2 {
    padding-top: 45px;
    padding-bottom: 45px; } }

h2:after {
  content: '';
  display: table;
  height: 3px;
  width: 140px;
  background-color: #1D9A9E;
  position: relative;
  top: 10px;
  left: 32%; }

h3 {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #4B4A52; }

h4 {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 30px; }

h5 {
  color: #79797A;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 25px; }

p {
  line-height: 2;
  margin-bottom: 20px; }

@media (max-width: 1100px) {
  p {
    margin-bottom: 5px;
    line-height: 1.7; } }

.icon {
  margin-right: 20px;
  font-size: 20px; }

.p-check {
  font-size: 12px !important;
  color: #ADADAD; }

.fa-check {
  margin-right: 10px;
  font-size: 13px; }

.bold {
  font-weight: bold; }

.parag_after_h2 {
  -ms-flex-item-align: center;
      align-self: center;
  color: #4B4A52;
  text-align: center;
  font-size: 18px;
  width: 90%;
  line-height: 1.5; }

@media (max-width: 400px) {
  h2 {
    width: 200px; }
  h2:after {
    content: '';
    display: table;
    height: 3px;
    width: 100px;
    background-color: #1D9A9E;
    position: relative;
    top: 10px;
    left: 27%; } }

button {
  cursor: pointer; }

.btn-turkus {
  border-radius: 2px;
  background-color: #1D9A9E;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase; }

.btn-turkus:hover {
  background-color: #1eb2b7; }

.btn-other_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 50px; }
  .btn-other_page button {
    border: 3px solid #1D9A9E;
    color: #1D9A9E;
    border-radius: 3px;
    width: 230px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }
  .btn-other_page button:hover {
    color: #ffffff;
    background-color: #1D9A9E; }

.btn-top {
  width: 35px;
  height: 35px;
  background-color: #ADADAD;
  position: fixed;
  top: 92vh;
  right: 18px; }
  .btn-top .fa-arrow-up {
    color: #ffffff; }

.btn-top:hover {
  background-color: #1D9A9E; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Fira Sans", sans-serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.container {
  width: 85vw;
  max-width: 1300px;
  margin: auto;
  overflow-y: hidden; }

@media (max-width: 1200px) {
  .container {
    width: 90vw; } }

.header_bar {
  height: 90px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); }
  @media (max-width: 600px) {
    .header_bar {
      height: 70px; } }

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px; }

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%; }

.header_menu {
  width: 80%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Fira Sans", sans-serif; }
  .header_menu li {
    font-size: 17px;
    text-transform: uppercase; }
    .header_menu li a {
      color: #4B4A52;
      font-weight: 400; }
    .header_menu li a:hover {
      color: #1D9A9E; }
  @media (max-width: 1200px) {
    .header_menu {
      width: 90%; } }
  @media (max-width: 1000px) {
    .header_menu {
      width: 97%; } }
  @media (max-width: 950px) {
    .header_menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      top: 90px;
      left: 0;
      height: 50vh;
      width: 100vw;
      background-color: #ffff;
      padding-left: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 1;
      -webkit-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
              box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); } }
  @media (max-width: 600px) {
    .header_menu {
      top: 70px; } }

.btn-nav {
  text-transform: uppercase;
  font-size: 17px;
  color: #4B4A52;
  font-weight: 400; }
  @media (min-width: 951px) {
    .btn-nav {
      display: none; } }
  @media (max-width: 950px) {
    .btn-nav {
      display: block; } }

.logotype {
  height: 80px;
  width: auto; }
  @media (max-width: 600px) {
    .logotype {
      height: 60px; } }

.header_publikacje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0; }

.hero {
  height: 100vh;
  background: url(../../img/backgrounds/morze.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*filter: brightness(0.5)*/ }
  .hero img {
    width: 100%; }

.hero_title {
  position: relative;
  top: 30px;
  left: 100px; }
  @media (max-width: 800px) {
    .hero_title {
      position: relative;
      top: 30px;
      left: 40px; } }
  @media (max-width: 600px) {
    .hero_title {
      width: 50%;
      line-height: 1.3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

/*on publikacje page*/
/*.hero_publikacje {
    background: url(../../img/backgrounds/wiezowce.jpg);
    height: 100vh;
}*/
.kancelaria {
  font-family: "Fira Sans", sans-serif;
  background-color: #F9F9F9;
  color: #000000;
  position: relative; }

.kancelaria_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 70px; }
  @media (max-width: 800px) {
    .kancelaria_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.kancelaria_photo {
  height: 350px;
  width: auto;
  margin: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); }

.kancelaria_descr {
  margin-left: 60px;
  width: 75%; }
  .kancelaria_descr p {
    color: #4B4A52; }
    @media (max-width: 1000px) {
      .kancelaria_descr p {
        color: #4B4A52;
        font-size: 15px; } }
  @media (max-width: 1000px) {
    .kancelaria_descr {
      margin-left: 30px;
      width: 75%; } }
  @media (max-width: 800px) {
    .kancelaria_descr {
      margin-left: 0;
      margin-top: 30px;
      width: 100%;
      text-align: justify; } }

.logo_kdp {
  width: 180px;
  height: auto;
  position: absolute;
  bottom: 60px;
  right: 100px; }
  @media (max-width: 1000px) {
    .logo_kdp {
      bottom: 20px;
      right: 100px;
      width: 150px; } }
  @media (max-width: 800px) {
    .logo_kdp {
      bottom: 10px; } }
  @media (max-width: 600px) {
    .logo_kdp {
      width: 130px; } }

.doradztwo {
  font-family: "Fira Sans", sans-serif; }
  .doradztwo h2 {
    padding-bottom: 30px; }
  .doradztwo p {
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #4B4A52;
    margin-bottom: 30px; }

.doradztwo_container {
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.doradztwo_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  border: 1px solid black;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f7f3f3;
  padding: 10px;
  margin: 7px; }
  .doradztwo_item .btn-show_more {
    width: 130px;
    height: 40px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px; }
  .doradztwo_item h4 {
    text-transform: uppercase;
    font-size: 25px; }
  .doradztwo_item .doradztwo_list {
    display: none; }
  .doradztwo_item .btn-close {
    display: none; }

@media (max-width: 1200px) {
  .doradztwo_item {
    width: 30%;
    height: 270px; }
    .doradztwo_item h4 {
      font-size: 20px; } }

.doradztwo_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.doradztwo_item-grey {
  background-color: #F9F9F9; }
  .doradztwo_item-grey h4 {
    color: #4B4A52; }
  .doradztwo_item-grey .btn-show_more {
    border: 2px solid #4B4A52;
    color: #4B4A52; }
    .doradztwo_item-grey .btn-show_more:hover {
      background-color: #4B4A52;
      color: #F9F9F9; }
  .doradztwo_item-grey .doradztwo_list li {
    color: #4B4A52; }
  .doradztwo_item-grey .btn-close {
    color: #4B4A52; }

.doradztwo_item-turkus {
  background-color: #1D9A9E; }
  .doradztwo_item-turkus h4 {
    color: #ffffff; }
  .doradztwo_item-turkus .btn-show_more {
    border: 2px solid #ffffff;
    color: #ffffff; }
    .doradztwo_item-turkus .btn-show_more:hover {
      background-color: #ffffff;
      color: #1eb2b7; }
  .doradztwo_item-turkus .doradztwo_list li {
    color: #ffffff; }
  .doradztwo_item-turkus .btn-close {
    color: #ffffff; }

.doradztwo_item-darkgrey {
  background-color: #ADADAD; }
  .doradztwo_item-darkgrey h4 {
    color: #4B4A52; }
  .doradztwo_item-darkgrey .btn-show_more {
    border: 2px solid #4B4A52;
    color: #4B4A52; }
    .doradztwo_item-darkgrey .btn-show_more:hover {
      background-color: #4B4A52;
      color: #ADADAD; }
  .doradztwo_item-darkgrey .doradztwo_list li {
    color: #4B4A52; }
  .doradztwo_item-darkgrey .btn-close {
    color: #4B4A52; }

.icons {
  width: 100px;
  height: auto;
  margin-bottom: 20px; }

/*style to display one item from doradztwo*/
.hide {
  display: none; }

.show {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative; }
  .show .btn-show_more {
    display: none; }
  .show .doradztwo_list {
    width: 50%;
    display: block;
    width: auto;
    line-height: 1.5;
    font-size: 16px;
    margin: 20px; }
    .show .doradztwo_list li {
      margin: 7px; }
  .show .doradztwo_header {
    width: 60%;
    padding: 10px; }
  .show .btn-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 23px; }

.decrease {
  width: 18%;
  height: 200px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  .decrease h4 {
    font-size: 15px;
    margin-bottom: 15px; }
  .decrease .icons {
    width: 70px;
    height: auto;
    margin-bottom: 10px; }
  .decrease .btn-show_more {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px; }

@media (max-width: 600px) {
  .doradztwo {
    display: none; } }

.szkolenia {
  margin-top: 80px;
  font-family: "Fira Sans", sans-serif;
  background-color: #F9F9F9;
  color: #000000; }
  .szkolenia h2 {
    padding-bottom: 50px; }

.szkolenia_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%; }

.szkolenia_container {
  margin-top: 30px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .szkolenia_container h4 {
    color: #4B4A52; }

.szkolenia_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px; }
  .szkolenia_list h4 {
    margin-top: 30px; }
  .szkolenia_list img {
    width: 500px;
    height: auto;
    margin-right: 70px; }
  .szkolenia_list ul {
    list-style-type: square;
    color: #4B4A52; }
  .szkolenia_list li {
    margin: 15px;
    line-height: 1.4; }

.szkolenia_aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 80px; }
  .szkolenia_aside h3 {
    margin-bottom: 30px; }
  .szkolenia_aside h3:after {
    content: '';
    display: table;
    height: 3px;
    width: 140px;
    background-color: #1D9A9E;
    position: relative;
    top: 10px;
    left: 0%; }
  .szkolenia_aside h4 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .szkolenia_aside p {
    color: #4B4A52; }

@media (max-width: 1200px) {
  .szkolenia_list h4 {
    margin-top: 10px; }
  .szkolenia_list li {
    margin: 10px 0;
    line-height: 1.4; }
  .szkolenia_list img {
    width: 400px;
    height: auto;
    margin-right: 45px; }
  .szkolenia_container {
    padding: 0; } }

@media (max-width: 1000px) {
  .szkolenia p {
    font-size: 17px; }
  .szkolenia_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px; }
    .szkolenia_list img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px; }
    .szkolenia_list ul {
      margin-left: 20px; }
  .szkolenia_aside {
    padding-bottom: 40px; }
    .szkolenia_aside * > p {
      font-size: 17px; } }

@media (max-width: 800px) {
  .szkolenia {
    text-align: justify; }
  .szkolenia_description p {
    text-align: justify;
    width: 100%; } }

@media (max-width: 600px) {
  .szkolenia_description p {
    font-size: 15px; }
  .szkolenia_container li {
    font-size: 15px; }
  .szkolenia_aside p {
    font-size: 15px; } }

.blog_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 60px; }

.blog_item {
  width: 45%;
  color: #4B4A52; }
  .blog_item img {
    width: 100%;
    height: 300px; }
  .blog_item h4 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px; }
  .blog_item p {
    line-height: 23px;
    text-align: justify;
    color: #79797A; }
  .blog_item button {
    height: 40px;
    width: 170px; }

.btn-other_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 50px; }
  .btn-other_page button {
    border: 3px solid #1D9A9E;
    color: #1D9A9E;
    border-radius: 3px;
    width: 230px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }
  .btn-other_page button:hover {
    color: #ffffff;
    background-color: #1D9A9E; }

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px; }

.posts_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 60px; }

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .post h2 {
    text-align: left;
    width: 100%;
    padding-bottom: 20px; }
  .post h2:after {
    position: relative;
    top: 10px;
    left: 0; }
  .post .blog_item {
    padding-top: 30px;
    padding-bottom: 40px;
    margin: auto;
    width: 80%; }
  .post img {
    width: 100%;
    height: 500px;
    margin-bottom: 40px; }
  .post h4 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px; }
  .post p {
    line-height: 23px;
    text-align: justify;
    color: #79797A; }
  .post button {
    height: 40px;
    width: 170px; }

.header_blog li {
  margin-left: 20px; }

@media (max-width: 1000px) {
  .blog_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px; }
  .blog_item {
    width: 100%;
    margin-bottom: 30px; }
    .blog_item img {
      width: 100%;
      height: auto; }
    .blog_item button {
      margin-top: 15px; } }

.publikacje h6 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px; }

.publikacje p {
  font-size: 15px;
  line-height: normal;
  color: #79797A; }

.publikacje .first {
  padding-top: 30px;
  border-top: 1px solid #d6d6d6; }

.publikacje_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d6d6; }
  .publikacje_item button {
    color: #1D9A9E;
    font-weight: bold;
    width: 100px; }
  .publikacje_item button:hover {
    color: #1eb2b7; }
  .publikacje_item .icon-btn {
    margin-right: 10px;
    font-size: 25px; }
  .publikacje_item img {
    max-width: 300px;
    min-width: 300px;
    height: 180px;
    margin-right: 50px; }

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 30px;
  background-color: #1D9A9E; }
  .newsletter p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px; }

.newsletter_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  height: 50px;
  width: 45vw;
  border: none; }
  .newsletter_form input {
    width: 100%;
    padding-left: 20px;
    border: none; }
  .newsletter_form button {
    color: #ffffff;
    background-color: #4B4A52;
    width: 200px;
    font-weight: bold;
    text-transform: uppercase; }
  .newsletter_form button:hover {
    background-color: #1eb2b7; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%; }
  .checkbox input {
    margin-right: 10px; }

.publikacje_page {
  padding-top: 50px; }
  .publikacje_page .publikacje_item {
    padding-bottom: 30px;
    border-bottom: none; }
  .publikacje_page .first {
    padding-top: 30px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6; }

@media (max-width: 1200px) {
  .publikacje_item {
    margin: 10px 0 30px 0; } }

@media (max-width: 1000px) {
  .publikacje_item img {
    margin-right: 30px; }
  .publikacje_item button {
    margin-top: 5px; }
  .newsletter p {
    width: 90%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px; }
  .newsletter_form {
    width: 80%; } }

@media (max-width: 800px) {
  .publikacje_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .publikacje_item img {
      max-width: 100%;
      min-width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 30px; } }

@media (max-width: 500px) {
  .newsletter_form {
    width: 90%; } }

@media (max-width: 400px) {
  .newsletter_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    height: 100px;
    width: 90%;
    border: none; }
    .newsletter_form input {
      height: 50px; }
    .newsletter_form button {
      height: 50px;
      width: 100%; } }

.porady {
  padding-bottom: 80px;
  font-family: "Fira Sans", sans-serif;
  background-color: #F9F9F9;
  color: #000000; }

.porady_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.porady_form {
  width: 40%; }
  .porady_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    .porady_form form label {
      text-transform: uppercase;
      color: #79797A;
      font-weight: bold;
      font-size: 12px;
      margin: 7px 0; }
    .porady_form form input, .porady_form form textarea {
      padding: 0 3px;
      border: 1px solid #ADADAD;
      height: 40px;
      background-color: #f2f2f2;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
      border: 0; }
    .porady_form form textarea {
      height: 150px;
      width: 100%;
      max-width: 100%;
      min-width: 100%; }
    .porady_form form button {
      margin-top: 35px;
      height: 40px;
      width: 100%;
      font-weight: bold;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; }
    .porady_form form button:hover {
      background-color: #1eb2b7; }

.porady_descr {
  width: 50%; }
  .porady_descr p {
    font-size: 14px;
    text-align: justify; }
    .porady_descr p span {
      font-size: bold;
      font-size: 22px; }

.porady_title {
  font-size: 16px;
  font-weight: bold;
  color: #4B4A52; }

@media (max-width: 1200px) {
  .porady_form {
    width: 47%; } }

@media (max-width: 1000px) {
  .porady_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .porady_form {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px; }
  .porady_descr {
    width: 100%; } }

footer {
  background-color: #4B4A52;
  color: #ffffff;
  padding-bottom: 50px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%; }
  .footer p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 30px; }
  .footer h4 {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 25px; }

.footer_left {
  width: 55%; }

.footer_right {
  width: 45%; }

.logo_footer {
  height: 170px;
  width: auto;
  margin-top: 80px; }

.footer_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin-bottom: 40px; }
  .footer_title h3 {
    color: #ffffff;
    text-transform: uppercase; }

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%; }
  .footer_contact .footer_adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .footer_contact .footer_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer_contact .footer_numbers span {
    margin-right: 7px; }

.fa-linkedin {
  font-size: 26px;
  margin-right: 20px; }

@media (max-width: 1400px) {
  .footer_left {
    width: 60%; }
  .footer_right {
    width: 40%; }
  .logo_footer {
    height: 130px;
    width: auto;
    margin-top: 100px; }
  .footer_contact {
    width: 82%; } }

@media (max-width: 1000px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer_left {
    width: 100%; }
  .footer_right {
    display: none; }
  .footer_contact {
    width: 70%; } }

@media (max-width: 800px) {
  .footer_title {
    padding-top: 50px;
    margin-bottom: 20px; }
  .footer_left h3, .footer_left h4 {
    line-height: 1.3; }
  .footer_contact {
    width: 90%; } }

@media (max-width: 600px) {
  .footer_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
