/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*add reset button style */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');*/
/*$mainfont: 'PT Sans', sans-serif;*/
/*$mainfont:  'Raleway', Helvetica, Arial,sans-serif;*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  width: 100%; }

h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5;
  margin: auto;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  font-family: "Montserrat", sans-serif; }

h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px; }

p {
  line-height: 2;
  margin-bottom: 20px; }

.container {
  width: 85vw;
  max-width: 1300px;
  margin: auto; }

:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.header_bar {
  height: 100px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
          box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); }

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%; }

.header_menu {
  width: 80%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif; }
  .header_menu li {
    font-size: 18px;
    font-weight: 600; }
    .header_menu li a {
      color: #4B4A52; }
    .header_menu li a:hover {
      color: #1D9A9E; }

.logotype {
  height: 90px;
  width: auto; }

.hero {
  height: 100vh;
  background: url(../../img/wiezowce.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3); }
  .hero img {
    width: 100%; }

.hero_title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-filter: none;
          filter: none; }
  .hero_title h1 {
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px; }

.kancelaria {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #000000; }

.kancelaria_container {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.kancelaria_photo {
  height: 350px;
  width: auto;
  margin: 0; }

.kancelaria_descr {
  margin-left: 60px;
  width: 75%; }
  .kancelaria_descr p {
    color: #4B4A52; }

.doradztwo {
  height: 700px;
  font-family: "Montserrat", sans-serif;
  background-color: #F9F9F9;
  padding-top: 80px;
  padding-bottom: 80px; }

.doradztwo_container {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .doradztwo_container h4 {
    font-size: 25px; }

.doradztwo_item {
  height: 100px;
  width: 30%;
  background-color: #ffffff;
  margin: 20px 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .doradztwo_item h4 {
    font-weight: bold;
    color: #4B4A52; }

.doradztwo_show {
  z-index: 1; }

.doradztwo_list {
  padding: 20px;
  display: none; }

.doradztwo_icon {
  color: #1D9A9E;
  height: 60px; }

.list {
  font-weight: bold;
  font-size: 40px; }

.szkolenia {
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #000000;
  height: 500px; }

.szkolenia_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto; }
  .szkolenia_container p {
    -ms-flex-item-align: center;
        align-self: center;
    color: #4B4A52;
    text-align: center;
    font-size: 18px;
    width: 90%;
    line-height: 1.4; }

.porady {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: "Montserrat", sans-serif;
  background-color: #F9F9F9;
  color: #000000;
  height: 700px; }

.porady_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.porady_form {
  width: 40%; }
  .porady_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    .porady_form form label {
      text-transform: uppercase;
      color: #79797A;
      font-weight: bold;
      font-size: 12px;
      margin: 7px 0; }
    .porady_form form input {
      padding: 0 3px;
      border: 1px solid #ADADAD;
      height: 40px;
      background-color: #f2f2f2;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
      border: 0; }
    .porady_form form .descrip {
      height: 150px; }
    .porady_form form button {
      margin-top: 35px;
      background-color: #1D9A9E;
      height: 40px;
      width: 100%;
      color: #ffffff;
      font-weight: bold;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
      text-transform: uppercase;
      cursor: pointer; }
    .porady_form form button:hover {
      background-color: #1eb2b7; }

.porady_descr {
  width: 50%; }
  .porady_descr p {
    font-size: 14px;
    text-align: justify; }
    .porady_descr p span {
      font-size: bold;
      font-size: 22px; }

.porady_title {
  font-size: 16px;
  font-weight: bold;
  color: #4B4A52; }
