.doradztwo {
    font-family: $mainfont;
    
    h2 {
        padding-bottom: 30px;
    }
    
    p {
        text-align: center;
        margin: 0;
        font-size: 18px;
        color:$blackgrey;
        margin-bottom: 30px;
    }
}

.doradztwo_container {
    margin:auto;
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doradztwo_item {
    box-sizing: border-box;
    width:30%;
    border:1px solid black;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid $lightgrey2;
    padding: 10px;
    margin: 7px;
    
    & .btn-show_more {
        width:130px;
        height: 40px;
        border-radius:3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    
    & h4 {
        text-transform: uppercase;
        font-size: 25px;
    }
    
    .doradztwo_list {
        display: none;
    }
    
    .btn-close {
        display: none;
    }
}

@media (max-width:1200px) {
    .doradztwo_item {
        width:30%;
        height: 270px;
        
         h4 {
            font-size: 20px;
        }
    }
}

.doradztwo_header {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.doradztwo_item-grey {
    background-color: $lightgrey;
    
    h4 {
        color:$blackgrey;
    }
    
     .btn-show_more {
        border:2px solid $blackgrey;
        color:$blackgrey;
         
         &:hover {
             background-color: $blackgrey;
             color:$lightgrey;
         }
    }
    
    .doradztwo_list li {
        color:$blackgrey;
    }
    
    .btn-close {
        color:$blackgrey;
    }
}

.doradztwo_item-turkus {
    background-color: $turkus;
    
     & h4 {
        color:$white;
    }
    
     & .btn-show_more {
        border:2px solid $white;
        color:$white;
         
         &:hover {
             background-color: $white;
             color:$turkuslight;
         }
    }
    
    & .doradztwo_list li {
        color:$white;
    }
    
    .btn-close {
        color:$white;
    }
}

.doradztwo_item-darkgrey {
    background-color: $mediumgrey;
    
    & h4 {
        color:$blackgrey;
    }
    
     & .btn-show_more {
        border:2px solid $blackgrey;
        color:$blackgrey;
         
         &:hover {
             background-color: $blackgrey;
             color:$mediumgrey;
         }
    }
    
     & .doradztwo_list li {
        color:$blackgrey;
    }
    
    .btn-close {
        color:$blackgrey;
    }
}

.icons {
    width:100px;
    height: auto;
    margin-bottom: 20px;
}

/*style to display one item from doradztwo*/

.hide {
    display: none;
}

.show {
    width:94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    order:1;
    position:relative;
    
    .btn-show_more {
        display:none;
    }
    
    .doradztwo_list {
        width:50%;
        display: block;
        width:auto;
        line-height: 1.5;
        font-size: 16px;
        margin: 20px;
        
        li {
            margin:7px;
        }
    }
    
    .doradztwo_header {
        width:60%;
        padding:10px;
    }
    
    .btn-close {
        display: block;
        position:absolute;
        top:20px;
        right:25px;
        font-size:23px;
    }

}

.decrease {
    width:18%;
    height:200px;
    order:2;
    
    h4 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .icons {
        width:70px;
        height: auto;
        margin-bottom: 10px;
    }
    
    .btn-show_more {
        width:100px;
        height: 30px;
        border-radius:3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
    }
}

@media (max-width:600px) {

}

