.doradztwo {
    font-family: $mainfont;
    
    h2 {
        padding-bottom: 30px;
    }
    
    p {
        text-align: center;
        margin: 0;
        font-size: 18px;
        color:$blackgrey;
        margin-bottom: 30px;
    }
}

.doradztwo_container {
    width:100%;
    margin:0;
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    @media(max-width:600px) {
        display: flex;
        flex-direction: column;
    }
}

.doradztwo_item {
    box-sizing: border-box;
    width:30%;
    border:1px solid black;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid $lightgrey2;
    padding: 10px;
    margin: 7px;
    
    @media (max-width:1200px) {
        height: 300px;
    }
    
    @media (max-width:1050px) {
        height: 250px;
    }
    
    @media (max-width:900px) {
        height:230px;
    }
    
    @media (max-width:800px) {
        height:200px;
    }
    
    @media (max-width:700px) {
        height:180px;
    }
    
    @media(max-width:600px) {
        width:100%;
    }
    
    & .btn-show_more {
        width:130px;
        height: 40px;
        border-radius:3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        
        @media (max-width:800px) {
            width:100px;
            height: 30px;
            font-size: 12px;
        }
    }
    
    & h4 {
        text-transform: uppercase;
        font-size: 25px;
        
        @media (max-width:1200px) {
            text-align: center;
            font-size:23px;
        }
        
        @media (max-width:1100px) {
            margin-bottom:15px;
            font-size:18px;
        }
        
        @media (max-width:900px) {
            font-size:16px;
            margin-bottom: 10px;
        }
    }
    
    .doradztwo_list {
        display: none;
    }
    
    .btn-close {
        display: none;
    }
}


.doradztwo_header {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.doradztwo_item-grey {
    background-color: $lightgrey;
    
    h4 {
        color:$blackgrey;
    }
    
     .btn-show_more {
        border:2px solid $blackgrey;
        color:$blackgrey;
         
         &:hover {
             background-color: $blackgrey;
             color:$lightgrey;
         }
    }
    
    .doradztwo_list li {
        color:$blackgrey;
    }
    
    .btn-close {
        color:$blackgrey;
    }
}

.doradztwo_item-turkus {
    background-color: $turkus;
    
     & h4 {
        color:$white;
    }
    
     & .btn-show_more {
        border:2px solid $white;
        color:$white;
         
         &:hover {
             background-color: $white;
             color:$turkuslight;
         }
    }
    
    & .doradztwo_list li {
        color:$white;
    }
    
    .btn-close {
        color:$white;
    }
}

.doradztwo_item-darkgrey {
    background-color: $mediumgrey;
    
    & h4 {
        color:$blackgrey;
    }
    
     & .btn-show_more {
        border:2px solid $blackgrey;
        color:$blackgrey;
         
         &:hover {
             background-color: $blackgrey;
             color:$mediumgrey;
         }
    }
    
     & .doradztwo_list li {
        color:$blackgrey;
    }
    
    .btn-close {
        color:$blackgrey;
    }
}

.icons {
    width:100px;
    height: auto;
    margin-bottom: 20px;
    
    @media (max-width:1000px) {
        margin-bottom: 10px;
    }
    
    @media (max-width:800px) {
        width:70px;
    }
}

/*style to display one item from doradztwo*/

.hide {
    display: none;
}

.show {
    width:95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    order:1;
    position:relative;
    
    @media (max-width:1100px) {
        width:96%;
    }
    
    @media (max-width:900px) {
        width:97%;
        display:flex;
        flex-direction: column;    
        
        .icons {
            display: none;
        }
    }
    
    @media (max-width:800px) {
        height: 270px;
    }
    
     @media (max-width:600px) {
        height: auto;
    }
    
    .btn-show_more {
        display:none;
    }
    
    .doradztwo_list {
        width:50%;
        display: block;
        width:auto;
        line-height: 1.5;
        font-size: 16px;
        margin: 20px;
        
        @media (max-width:1300px) {
            font-size: 14px;
            margin: 17px;
        }
        
        @media (max-width:1100px) {
            line-height: 1.3;
        }   
        
        @media (max-width:600px) {
            line-height: 1.1;
            margin:15px 4px;
        }
        
        li {
            margin:7px;
            
            @media(max-width:1100px) {
                 margin:4px;
            }                    
        }
    }
    
    .doradztwo_header {
        width:60%;
        padding:10px;
        
        @media (max-width:900px) {
            width:50%;
            
            h4 {
                text-align:center;
                font-size:18px;
            }
        }
        
        @media (max-width:900px) {
            width:100%;

        }
            
    }
    
    .btn-close {
        display: block;
        position:absolute;
        top:20px;
        right:25px;
        font-size:23px;
    }

}

.decrease {
    width:18%;
    height:200px;
    order:2;
    
    @media (max-width:1100px) {
        height: 170px;
    }
    
    @media (max-width:900px) {
        height: 150px;
    }
    
    @media (max-width:800px) {
        width:100%;
        height: 100px;
    }
    
    h4 {
        font-size: 15px;
        margin-bottom: 15px;
        
        @media (max-width:1200px) {
            font-size: 13px;
            margin-bottom: 10px;
        }
        
        @media (max-width:800px) {
            font-size:16px;
        }
    }
    
    .icons {
        width:70px;
        height: auto;
        margin-bottom: 10px;
        
          @media (max-width:1200px) {
            width:60px;
        }
        
         @media (max-width:800px) {
            display: none;
        }
    }  
    
    .btn-show_more {
        width:100px;
        height: 30px;
        border-radius:3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        
         @media (max-width:1200px) {
            width:90px;
            height: 20px;
            font-size: 11px;
        }
        
        @media (max-width:800px) {
            width:100px;
            height: 30px;
            font-size: 13px;
        }
    }
}


