footer {
    background-color: $blackgrey;
    color:$white;
    padding-bottom: 50px;
}

.footer {
    
    p {
        padding:0;
        margin:0;
        font-size: 15px;
        line-height: 30px;
    }  
    
    h3 {
        color:$white;
    }
}

.footer_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:65%;
    align-items: center;
    padding-top:50px;
    margin-bottom: 40px;
    
     img {
        height: 100px;
         width: auto;
    }
}

.footer_contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;
    
    span {
        font-weight: bold;
        
    }
}