.header_bar {
    height: 90px;
    position: fixed;
    background-color: $white;
    width:100%;
    z-index:2;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:90%;
}

.header_menu {
    width: 80%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $mainfont;
    
    li {
        font-size: 17px;
        text-transform: uppercase;
    
        a {
            color:$blackgrey;
            font-weight: 400;
        }
        
        a:hover {
            color: $turkus; 
        }
    }
}

@media (max-width:1200px) {
    .header_menu {
        width:90%;
    }
}

@media (max-width:1000px) {
    .header_menu {
        width:97%;
    }
}

/*hamburger @media (max-width:950px) {
    
}*/

.logotype {
    height: 80px;
    width:auto;
}

.header_publikacje {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0;
}