.hero {
    height: 100vh;
    background: url(../../img/morze.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /*filter: brightness(0.5)*/
    
    
    img {
        width:100%;
        
    }
}

.hero_title {
    color:$white;
    font-family: $headerfont;
    font-weight: bold;
    text-transform: uppercase;
    filter: none;
    
    h1 {
        font-size: 70px;
        font-family: $mainfont;
        margin-bottom:30px;
    }
    
    
    
}


