.hero {
    height: 100vh;
    background: url(../../img/backgrounds/morze.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /*filter: brightness(0.5)*/
    
    img {
        width:100%;  
    }
}

.hero_title {
    position: relative;
    top:30px;
    left:-200px;
}



