.hero {
    height: 100vh;
    background: url(../../img/morze.jpg);
    background-size:cover;
    background-position: center;
}

.hero_title {
    position: relative;
    top:300px;
    display: inline;
    color:$white;
    font-family: $mainfont;
    font-size: 60px;
    margin-left: 100px;
}
