.kancelaria {
    font-family: $mainfont;
    background-color: $lightgrey;
    color: $black; 
}
.kancelaria_container {
    width:85vw;
    margin:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 60px;
}

.kancelaria_photo {
    height: 350px;
    width:auto;
    margin:0;
    box-shadow: $boxshadow;
}

.kancelaria_descr {
    margin-left: 60px;
    width:75%;
    
    p {
    
    color:$blackgrey;
    }
}

