.publikacje {    
    h6 {
        font-size:27px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    p {
        font-size:15px;
        line-height: normal;
        color:$darkgrey;
    }
    
    .first {
        padding-top: 30px;
        border-top: 1px solid $linegrey;  
    }
       
}

.publikacje_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:40px 0;  
    padding-bottom: 30px;
    border-bottom: 1px solid $linegrey;
    
    button {
        color:$turkus;
        font-weight: bold;
        width:100px;
    }
    
    button:hover {
        color:$turkuslight;
    }
    
    .icon-btn {
        margin-right: 10px;
        font-size: 25px;
    }
    
    img {
        max-width:300px;
        min-width: 300px;
        height: 180px;
        margin-right: 50px;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top:30px;
    background-color: $turkus;
    
      p {   
            color:$white;
            font-size: 20px;
            margin-bottom: 40px;
        }
    

}

.newsletter_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    margin-bottom: 40px;
    height: 50px;
    width:45vw;
    border:none;
    
    input {
        width:100%;
        padding-left: 20px;
        border:none;
    }
    
    button {
        color:$white;
        background-color: $blackgrey;
        width:200px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    button:hover {
        background-color: $turkuslight;
    }

}

.checkbox {
    display: flex;
    flex-direction: row;
    width:80%;
    
    input {
        margin-right: 10px;
        }
}

.publikacje_page {
    padding-top: 50px;
    
    .publikacje_item {
        padding-bottom: 30px;
        border-bottom: none;
    }
    
     .first {
        padding-top: 30px;
        border-top: 1px solid $linegrey;  
        border-bottom: 1px solid $linegrey;
    }
}

