.szkolenia {
    margin-top:$mainmargin;
    margin-bottom: $mainmargin;
    font-family: $mainfont;
    background-color: $lightgrey;
    color: $black; 
}

.szkolenia_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    
      p {
        align-self:center;
        color:$blackgrey;
        text-align:center;
        font-size: 18px;
        width:90%;
        line-height: 1.4;
        
    }
}

.szkolenia_container {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    
    
    & div {
        width:50%;
        margin: 0 30px;
        
    }
    
    li {
        margin:15px;
    }
}