.szkolenia {
    margin-top:$mainmargin;
    margin-bottom: $mainmargin;
    font-family: $mainfont;
    background-color: $lightgrey;
    color: $black; 
}

.szkolenia_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    
      p {
        align-self:center;
        color:$blackgrey;
        text-align:center;
        font-size: 18px;
        width:90%;
        line-height: 1.4;
        
    }
}

.szkolenia_container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    
    
    & div {
        margin: 0 30px;
        
    }
    
    ul {
        list-style-type:disc;
    }
    
    li {
        margin:15px;
    }
}

.aktualne {
    width:80%;
    display: flex;
    margin:auto;
    flex-direction:row;
    justify-content: space-around;
    padding-bottom: 60px;
    
    h4 {
        margin-top: 30px;
    }
    
}

.aktualne_photo {

        width:500px;
    height: auto;
}

.others {
    display: flex;
    flex-direction: row;
    
    div {
        width:50%;
    }
}