.slidein {
    opacity:0;
    transition: all .9s; 
    transform:translateY(30%);
    
    @media (max-width:600px) {
        opacity:1;
        transform: translateY(0%);
    }
}



.active {
     opacity:1;
    transform:translateY(0%);
}

