.slidein {
  opacity: 0;
  -webkit-transition: all .9s;
  -o-transition: all .9s;
  transition: all .9s;
  -webkit-transform: translateX(-30%) scale(0.95);
      -ms-transform: translateX(-30%) scale(0.95);
          transform: translateX(-30%) scale(0.95);
  min-height: 300px; }

.active {
  opacity: 1;
  -webkit-transform: translateX(0%) scale(1);
      -ms-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1); }
