* {
    box-sizing:border-box;
    background-color: $bgcolor;
    font-family: $mainfont;
}

a {
    color:inherit;
    text-decoration:none;
    
    &:hover {
        text-decoration:none;
    }
}

img {
    width:100%;
}