h1 {
    font-size: 70px;
    font-family: $headerfont;
    text-shadow: $textshadow;
    text-transform: uppercase;
    color:$white;
}

h2 {
    font-size:40px;
    font-weight:bold;
    line-height: 1.5;
    margin: 0 auto;
    padding-top: $mainpadding;
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    width:400px;
    font-family: $mainfont;
    color:$blackgrey;
}

h2:after {
    content: '';
    display: table;
    height: 3px;
    width: 140px;
    background-color: $turkus;
    position: relative;
    top:10px;
    left:32%;
}

h3 {
    font-size:33px;
    font-weight: bold;
    margin-bottom: 15px;
    color:$blackgrey;
    }

h4 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 30px;
}

h5 {
    color:$darkgrey;
    font-size:15px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p {
    line-height: 2;
    margin-bottom: 20px;
}

.icon {
    margin-right: 20px;
    font-size: 20px;
}

.p-check {
    font-size: 12px !important;
    color:$mediumgrey;
}

.fa-check {
    margin-right: 10px;
    font-size: 13px;
}

.bold {
    font-weight: bold;
}

.parag_after_h2 {
    align-self:center;
    color:$blackgrey;
    text-align:center;
    font-size: 18px;
    width:90%;
    line-height: 1.5;
}
