$white: #ffffff;
$black:#000000;
$turkus:#1D9A9E;
$turkuslight:rgb(30, 178, 183);
$lightgrey:#F9F9F9;
$lightgrey2:rgb(247, 243, 243);
$linegrey:rgb(214, 214, 214);
$mediumgrey:#ADADAD;
$darkgrey:#79797A;
$blackgrey:#4B4A52;

/*$mainfont: 'Montserrat', sans-serif;*/
$mainfont: 'Fira Sans', sans-serif;
$headerfont: 'Fira Sans Condensed', sans-serif;
$headersfont:'Raleway', 'Helvetica', 'Arial',sans-serif;

$mainmargin:80px;

