$white: #ffffff;
$black:#000000;
$turkus:#1D9A9E;
$mediumgrey:#ADADAD;
$darkgrey:#79797A;
$blackgrey:#4B4A52;

$mainfont: 'Montserrat', sans-serif;
/*$mainfont: 'PT Sans', sans-serif;*/
/*$mainfont:  'Raleway', Helvetica, Arial,sans-serif;*/

$mainmargin:100px;

